<div id="sidebar" style="width:30% float:left">
</div>
<div id="content" style="width:70% float:right">
</div>

<% content_for :scripts do %>
  <script>
    $(Redly.initialize);
  </script>
<% end  %>
