<h1>Sign Up</h1>

<form action="/users" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="smallInput">Email<br>
    <input class = "user_email" name="user[email]" type="text" class="small input-text" id="smallInput" value="<%= @user.email %>"><br>
  </label><br>
  <label>Username<br>
    <input class = "user_name" name="user[user_name]" type="text" value="<%= @user.user_name %>"><br>
  </label><br>
  <label>Password<br>
    <input class = "password" name="user[password]" type="password"><br>
  </label><br>
  <input type="submit" value="Submit" class="small button"><br>
  <button name="user[button]" id="guest">Guest Login</button>
</form>
