<a href="#/feeds/<%= feed.id %>"><p class="feed-item-title"><%= feed.escape('title') %></p></a>
<button class="delete-feed">
  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
</button>
