<img src="<%= feed.escape('image') %>" /><p class="feed-item-title"><%= feed.get('title') %></p>

<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Add Tag</a></li>
    <li class="divider"></li>
    <li><a class="delete-feed" href="#">Delete Feed</a></li>
  </ul>
</div>
<br>
<p class="feed-description"><%= feed.get('description') %></p>


<ul class="feed entries-index">
</ul>
