<div id="sidebar-content">
    <button class="close-side">
      <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
    </button>

    <h3>Add Feed</h3>
    <form id="new_feed_form">
      <label for="URL">URL</label>
      <input type="text" name="feed_url" class="URL">
      <button class="glyphicon glyphicon-plus-sign add_feed"></button>
    </form>

    <ul class="feeds-index">
    </ul>

    <button class="logout">Logout</button>
</div>
<button class="open-side">
  <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
</button>
