<div id="sidebar-content">
  <button class="close-side">
    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
  </button>

  <ul class="input-and-feeds">
    <a href="#" class="back-home">Home</a>

    <p class="feeds-header">All</p>
    <ul class="feeds-index">
    </ul>

    <h3 class="add-feed-header">Add Feed</h3>
    <form id="new_feed_form">
      <label for="URL">URL</label>
      <input type="text" name="feed_url" class="URL">
      <button class="glyphicon glyphicon-plus-sign add_feed"></button>
    </form>
  </ul>

  <button class="logout">Logout</button>

</div>
  <button class="open-side">
    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
  </button>
