<div id="sidebar-content">
  <div id="header">
    <button class="logout">Logout</button>
  </div>
  <ul id="feeds-index">
  </ul>

  <h3>Add Feed</h3>
  <form id="new_feed_form">
    <label for="URL">URL</label>
    <input type="text" name="feed_url" class="URL">
    <button id="add_feed">Submit</button>
  </form>
</div>
<div id="button-wrapper">
  <button class="close-side"><=</button>
</div>
