<div id="sidebar-content">
    <button class="close-side"><=</button>
    <button class="logout">Logout</button>
    <ul id="feeds-index">
    </ul>

    <h3>Add Feed</h3>
    <form id="new_feed_form">
      <label for="URL">URL</label>
      <input type="text" name="feed_url" class="URL">
      <button class="add_feed">Submit</button>
    </form>
</div>
<button class="open-side">=></button>
