<a class="entry-item-title" href="<%= entry.get('link') %>" target="_blank">
  <%= entry.get('title') %>
</a>
<a href="<%= entry.get('link') %>" target="_blank">
  <img class="entry-show-img"/>
</a>
<p class="entry-show-content"><%= entry.get('content') %></p>
