<a class="entry-item-title" href="<%= entry.get('link') %>">
  <%= entry.get('title') %>
</a>
<a href="<%= entry.get('link') %>">
  <img class="entry-show-img"/>
</a>
<p class="entry-show-content"><%= entry.get('content') %></p>
