/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require jquery.raty
 *= require jquery.ui.all
 *= require_self
 *= require_tree .
 */

 #sidebar{
   position: relative;
   float: left;
   margin-right: 20px;
   width: 250px;
   height: 800px;
 }

 #content {
  overflow: auto;
  width:750px;
  float:right
}

 #sidebar-content{
   position: relative;
   margin-left: 5px;
 }


button {
  background: transparent;
  border: none !important;
}

.close-side{
  float: right;
  background: transparent;
  border: none !important;
}


.open-side{
  position: fixed;
  visibility: hidden;
}

.logout{
  position: fixed;
  bottom: 5px;
  font-size: 10px;
}

.logout:hover{
  text-decoration: underline;
}

.delete-feed{
}

.URL {
  width: 80px;
}
