/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*= require jquery.raty
*= require jquery.ui.all
*= require_self
*= require_tree .
*/

/* containers */
html {
  height: 100%;
}

body {
  height: 100%;
}

#sidebar{
  /*Making position fixed will break content sliding left effect */
  position: relative;
  float: left;
  height: 100%;
  /*width: 250px;*/
  /*putting height here also breaks content sliding left effect*/
  /*height: 800px;*/
  margin-left: 0px;

}

.slide-left{
  margin-left: -177px;
}

#sidebar p{
  color: rgba(0, 0, 0, 0.529412);
}

#content {
  overflow: auto;
  padding-left: 50px;
  height: 100%;
  overflow-y: scroll;
  /*width:750px;*/
  /*float:right;*/
}

.sidebar-content{
  background-color: hsl(0, 0%, 94%);
  position: relative;
  padding-left: 5px;
  height: 100%;
  width: 250px;
  transition: margin-left 500ms ease;
}

.feed-show{
  padding-top: 20px;
  padding-left: 50px;
  font-weight: bold;
  font-size: 26px;
}

.feed-show-img{
  max-width: 450px;
  /*width: 200px;*/
}

/* lists */
ul.feeds-index {
  list-style-type: none;
  padding: 0;
  margin-top: 0px;
  /*margin: 0 0 0px 0px;*/
}

ul.feeds-index > li p{
  display:inline;
  width: 25px;
  font-family: sans-serif;
  font-size: 12px;
  text-overflow: ellipsis;
}

.feed-item-title{
  padding-left: 5px;
  display: inline;
}

.feed-item-title:hover{
  text-decoration: underline;
  cursor: pointer;

}

ul.entries-index{
  padding-left: 50px;
}

ul.feed {
  padding-left: 0px;
}

ul.entries-index li{
  list-style-type: none;
  display: none;
}

ul.input-and-feeds{
  padding-left: 15px;
  padding-top: 20px;
}

/* buttons and clickables */
button {
  background: transparent;
  border: none !important;
}

button:focus {outline:0;}

.toggle-side{
  float: right;
  padding-right: 40px;
  padding-top: 20px;
  background: transparent;
  border: none !important;
}

.open-side{
  /*position: fixed;*/
  margin-left: 15px;
  margin-top: 20px;
  visibility: hidden;
}

.logout{
  color: rgba(0, 0, 0, 0.529412);
  position: absolute;
  bottom: 20px;
  font-size: 12px;
  margin-left: 15px;
}

.logout:hover{
  text-decoration: underline;
}

.delete-feed:hover{
  color: #CC0000;
}

.URL {
  width: 80px;
}

label[for="URL"] {
  color: rgba(0, 0, 0, 0.529412);
  font-weight: bold;
}

.add-feed:hover {
  color: #7CCD61;
}

/* headers */
.home-header{
  font-weight: bold;
  font-size: 26px;
  padding-left: 50px;
  padding-bottom: 30px;
}

.feeds-header{
  font-weight: bold;
  margin-top: 15px;
}

.add-feed-header{
  margin-top: 0px;
  padding-top: 20px;
}

.entry-title{
  font-size: 14px;
}

/* raty stars*/
.rate-entry{
  width: 120px;
}
